<div class="container">
  <div class="row p-3">
    <div class="col">
      <h5>Buscar:</h5>
      <input type="text" class="form-control" placeholder="buscarGifs" />
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="col">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis
      corporis, quos repellendus odit soluta, fugiat porro quae reprehenderit
      tempora sapiente eveniet dignissimos quas. Voluptate ipsum praesentium
      quae, autem consequatur libero.
    </div>
  </div>
</div>
