<div class="d-flex">
  <!--Start side bar-->
  <div class="bg-dark border-right p-3" id="sidebar">
    <h3 class="text-light">Gifs-App</h3>
    <hr class="text-white" />
    <div class="list-group list-rest">
      <a href="#" class="list-group-item list-action"> dashbord </a>
    </div>
  </div>
  <!--End side bar-->
  <!--Start nav-->
  <div class="container">
    <div class="row p-3">
      <div class="col">
        <h5>Buscar:</h5>
        <input type="text" class="form-control" placeholder="buscarGifs" />
      </div>
    </div>
    <hr />
    <div class="row">
      <div class="col">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis
        corporis, quos repellendus odit soluta, fugiat porro quae reprehenderit
        tempora sapiente eveniet dignissimos quas. Voluptate ipsum praesentium
        quae, autem consequatur libero.
      </div>
    </div>
  </div>
</div>
